# Projects that I developed in my UBI course that have their own repo.
f_year/s_semester/Laboratórios de Programação/LP-TP1/
f_year/s_semester/rc/RC_TP1/
s_year/f_semester/poo/POO-PF/
s_year/s_semester/pweb/practical-classes/PWEB-AssessmentLabs

Engenharia-Informatica-UBI
Project-2027-Repository
s_year/s_semester/logica/Logic-Project/
s_year/s_semester/pweb/PWEB-Project/
s_year/s_semester/so/Scheduling-Simulator/

/s_year/s_semester/ihc/pratical_classes/class00/build/
/s_year/s_semester/ihc/pratical_classes/class01/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/class02/target/
/s_year/s_semester/ihc/pratical_classes/class03/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/class03/build/
/s_year/s_semester/ihc/pratical_classes/class03/dist/
/s_year/s_semester/ihc/pratical_classes/JavaApplication2/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/JavaApplication2/build/
/s_year/s_semester/ihc/pratical_classes/JavaApplication2/dist/
/s_year/s_semester/ihc/pratical_classes/JavaApplication3/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/JavaApplication3/build/
/s_year/s_semester/ihc/pratical_classes/JavaApplication3/dist/
/s_year/s_semester/ihc/pratical_classes/JavaApplication4/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/JavaApplication4/build/
/s_year/s_semester/ihc/pratical_classes/JavaApplication4/dist/
/s_year/s_semester/ihc/pratical_classes/HelloFx/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/HelloFx/build/
/s_year/s_semester/ihc/pratical_classes/HelloFX/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/HelloFX/build/
/s_year/s_semester/ihc/pratical_classes/class03/AreaTriangulo/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/class03/AreaTriangulo/build/
/s_year/s_semester/ihc/pratical_classes/class04/NotepadXPTO/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/class04/NotepadXPTO/build/
/s_year/s_semester/ihc/pratical_classes/class04/NotepadXPTO_1/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/Calculator/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/Calculator/build/
/s_year/s_semester/ihc/pratical_classes/Paint/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/Paint/build/
/s_year/s_semester/ihc/pratical_classes/PaintFree/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/PaintFree/build/
/s_year/s_semester/ihc/pratical_classes/Aritmetix/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/Aritmetix/build/
/s_year/s_semester/ihc/pratical_classes/Tables/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/Tables/build/
/s_year/s_semester/ihc/pratical_classes/NutricionalTable/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/NutricionalTable/build/
