# Projects that I developed in my UBI course that have their own repo.

f_year/s_semester/Laboratórios de Programação/LP-TP1/
f_year/s_semester/rc/RC_TP1/
s_year/f_semester/poo/POO-PF/

Engenharia-Informatica-UBI
Project-2027-Repository
/s_year/s_semester/ihc/pratical_classes/class00/build/
/s_year/s_semester/ihc/pratical_classes/class01/nbproject/private/
/s_year/s_semester/ihc/pratical_classes/class02/target/
