# Projects that I developed in my UBI course that have their own repo.

First-Year/First-Semester/Other Projects/Sorting-Algorithms/
First-Year/First-Semester/Other Projects/Spotify-Playlist-Downloader/
First-Year/First-Semester/Laboratórios de Programação/LP-TP1/
